.vscode/settings.json
.vscode/c_cpp_properties.json
Data/mnist/Download/t10k-images-idx3-ubyte.gz
Data/mnist/Download/t10k-labels-idx1-ubyte.gz
Data/mnist/Download/train-images-idx3-ubyte.gz
Data/mnist/Download/train-labels-idx1-ubyte.gz
Data/mnist/Raw/mnist_teimg.bin
Data/mnist/Raw/mnist_telbl.bin
Data/mnist/Raw/mnist_trimg.bin
Data/mnist/Raw/mnist_trlbl.bin
apps/reprlearn/reprlearnmain
apps/reprlearn/reprlearnmain.o
src/Globals.o
src/Logger.o
src/Parseparam.o
src/Pats.o
src/Pop.o
src/Prj.o
.vscode/launch.json
.vscode/tasks.json
learn.cij.l1.bin
learn.cij.l2.bin
.vscode/settings.json
predict.teact.l0.log
predict.teact.l1.log
predict.teact.l2.log
predict.tract.l0.log
predict.tract.l1.log
predict.tract.l2.log
.vscode/launch.json
.vscode/launch.json
VitisHLS_Proj/.cproject
VitisHLS_Proj/.cproject
VitisHLS_Proj/.project
VitisHLS_Proj/.vitis_hls_log_all.xml
VitisHLS_Proj/hls.app
VitisHLS_Proj/solution1/solution1.aps
VitisHLS_Proj/solution1/script.tcl
VitisHLS_Proj/.settings/VitisHLS_Proj.Release.launch
VitisHLS_Proj/.settings/VitisHLS_Proj.Debug.launch
VitisHLS_Proj/.settings/language.settings.xml
VitisHLS_Proj/.apc/autopilot.apfmapping
VitisHLS_Proj/hls.app
